/* Inicio de código CSS para proyecto 5 */
* {
    margin: 0px;
    padding: 0px;
}

/*Inicia parte del codigo realizado por: Ximena Tamara Farias Lizarraga, con codigo PILARES: 136ZMA9*/
header {
    margin: 10px 0px 20px 50px;
    padding: 5px;
    border-bottom: 2px solid #bebebe;
}

nav {
    float: right;
    margin: 5px 20px 0px 0px;
    padding: 5px;
}

nav li {
    display: inline;
    font: 14px verdana, sans-serif;
    margin-right: 15px;
}
/*Termina parte del código realizado por: Ximena Tamara Farias Lizarraga*/