/* Inicio de código CSS para proyecto 5 */
* {
    margin: 0px;
    padding: 0px;
}

/*Inicia parte del codigo realizado por: Ximena Tamara Farias Lizarraga, con codigo PILARES: 136ZMA9*/

header {
    margin: 10px;
    padding: 5px;
    border-bottom: 1px solid #999999;
}

nav {
    display: inline;
    float: right;
    margin: 10px;
    padding: 5px;
    font: 14px verdana, sans-serif;
}

/*Termina parte del código realizado por: Ximena Tamara Farias Lizarraga*/